.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-items {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 10px 10px;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  top: 0;
}

.dropdown:hover .dropdown-items {
  display: block;
}

.dropdown-items a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-items a:hover {
  background-color: #f1f1f1;
}

footer {
  height: 100px;
  align-content: center;
  text-align: center;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

@media (max-width:720px) {
  footer {
    font-size: smaller;
  }
}