{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
<br>

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<p class="text-center fw-bold">{{ current_user.room_id[0].title }} BROADSHEET</p>

<p class="text-center"><b>Class Teacher : </b>{{ current_user.name }}</p>

<div class="table-responsive">
	{% for table in tables %}
		{{ table|safe }}
	{% endfor %}
</div>

<div class="text-center">
	<a class="btn btn-sm btn-secondary" href="/dashboard">Return to dashboard</a>
	<a class="btn btn-sm btn-outline-success" href="{{url_for('save_sheet', active=active.session.id, id=current_user.room_id[0].id)}}">Save as Excel</a>
</div>

</div>
{% endblock %}