{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-sm-0 p-4">
      <div class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{{ url_for('static', filename='default/slideTwo.png')}}"
              class="w-100"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{{ url_for('static', filename='default/slideOne.png')}}"
              class="w-100"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 p-4">
      {% if active %}
      <p class="fw-light fs-5">Session</p>
      <p class="display-6">
        {{ active.session.session }} : {{ active.session.term }}
      </p>
      {% endif %}

      <div class="row pt-2 pb-2">
        <div class="col">
          <p class="fw-light fs-5">Classrooms</p>
          <p class="display-5">{{ class_num }}+</p>
        </div>
        <div class="col">
          <p class="fw-light fs-5">Subjects</p>
          <p class="display-5">{{ subject_num }}+</p>
        </div>
        <div class="col">
          <p class="fw-light fs-5">Students</p>
          <p class="display-5">{{ student_num }}+</p>
        </div>
        <div class="col">
          <p class="fw-light fs-5">Staffs</p>
          <p class="display-5">{{ staff_num }}+</p>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-body text-center">
          {% for message in get_flashed_messages() %}
          <div
            class="alert alert-warning p-1 alert-dismissible fade show"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="btn-close p-2"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %}
          <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-floating">
              <select class="form-select mb-2" name="type">
                <option value="student">Student</option>
                <option value="staff">Staff</option>
              </select>
              <label for="floatingSelect">Login as</label>
            </div>
            <div class="form-floating">
              {{ form.email(placeholder="Email", class='form-control mb-2',
              id="floatingInput") }}
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
              {{ form.password(placeholder="Password", class='form-control
              mb-2', id="floatingPassword") }}
              <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn form-control btn-dark">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark">
  © {{ time }} nerdschool | Developed by
  <a href="https://nerdsolomon.github.io/portfolio">
    <img src="{{ url_for('static',filename='default/nerd.png') }}" width="20" />
    nerdsolomon
  </a>
</footer>
{% endblock %}
