{% extends "base.html" %} {% block content %}
<div class="container">
  <br />

  {% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}

  <div class="d-flex justify-content-between">
    <a class="btn btn-sm btn-secondary mb-2" href="/dashboard">Back</a>
    <a
      class="btn btn-secondary btn-sm mb-2"
      href="#new_session"
      data-bs-toggle="modal"
      >New</a
    >
  </div>

  <div class="modal" id="new_session" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-body">
            {{ form.hidden_tag() }}
            <input type="hidden" value="session" name="name" />
            {{form.string(class='form-control mb-2', placeholder="yyyy/yy") }}
            <select class="form-select" name="term">
              <option selected value="First Term">First Term</option>
              <option value="Second Term">Second Term</option>
              <option value="Third Term">Third Term</option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            {{ form.submit(class='btn btn-secondary') }}
          </div>
        </form>
      </div>
    </div>
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <th scope="col">Session</th>
      <th scope="col">Date added</th>
    </thead>
    <tbody>
      {% for session in sessions %}
      <tr>
        <td>{{ session.session }} : {{ session.term }}</td>
        <td>
          {{ session.date }}
          <div class="dropdown float-end">
            <b>⋮</b>
            <div class="dropdown-items" style="right: 0">
              {% if session %} {% if active and active.session.id == session.id
              %}
              <a class="text-success fw-bold">Active</a>
              {% else %}
              <form method="POST">
                <input type="hidden" value="active" name="name" />
                <input type="hidden" value="{{ session.id }}" name="session" />
                <button type="submit">Activate</button>
              </form>
              {% endif %} {% endif %}
              <a href="">Delete</a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
