{% extends "base.html" %} {% block content %}

<div class="container">
  <br />

  {% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}

  <div class="d-flex justify-content-between">
    <a class="btn btn-sm btn-secondary mb-2" href="/dashboard">Back</a>
    <a
      class="btn btn-secondary btn-sm mb-2"
      data-bs-toggle="modal"
      href="#addStaff"
      >New</a
    >
  </div>

  <div
    class="modal"
    id="addStaff"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-body">
            {{ form.hidden_tag() }}
            <input type="hidden" name="name" value="add" />
            {{ form.string(placeholder="Full Name", class='form-control mb-2')
            }} {{ form.email(placeholder="Email", class='form-control mb-2') }}
            <select class="form-select" name="role">
              <option value="" selected>Role</option>
              <option value="Admin">Admin</option>
              <option value="Teacher">Teacher</option>
            </select>
            {{ form.hidden }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
            {{ form.submit(class='btn btn-secondary') }}
          </div>
        </form>
      </div>
    </div>
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </thead>
    <tbody>
      {% for staff in staffs %}
      <tr>
        <td>{{ staff.name }}</td>
        <td>{{ staff.email }}</td>
        <td>
          {{ staff.role }}
          <div class="dropdown float-end">
            <b>⋮</b>
            <div class="dropdown-items" style="right: 0">
              <a href="#edit{{ staff.id }}" data-bs-toggle="modal">Edit</a>
              <a href="{{url_for('staff_delete', id=staff.id)}}">Delete</a>
            </div>
          </div>
        </td>
      </tr>

      <div
        class="modal"
        id="edit{{ staff.id }}"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form method="POST">
              <div class="modal-body">
                <input type="hidden" value="{{ staff.id }}" name="staff" />
                <input type="hidden" value="edit" name="name" />
                {{ form.hidden_tag() }} {{ form.string(value=staff.name,
                class="form-control mb-2") }} {{ form.email(value=staff.email,
                class="form-control mb-2") }}
                <select class="form-select" name="role">
                  <option>{{ staff.role }}</option>
                  <option value="Admin">Admin</option>
                  <option value="Teacher">Teacher</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                {{ form.submit(class='btn btn-secondary') }}
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
